{% extends 'shared_reset.html' %}
{% load static %}
{% block title %}Change Password for {{obj.first_name|title}} {{obj.last_name|title}}{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
<div class="page-breadcrumb">
    <div class="row">
        <div class="col-12 d-flex no-block align-items-center">
            <h4 class="page-title"> Change Password</h4>
            <div class="ml-auto text-right">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'accounts:redirect_logged' %}">Home /Profile</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page"> Update Password {{obj.first_name|title}}
                            {{obj.last_name|title}}</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">

    <div class="card">
        <div class="row">
            <form method="POST">
                {% csrf_token %}
                <div class="card-body">
                    <div class="col-md-12">
                        {% if messages %}
                        {% for message in messages %}
                        <div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            {{ message }}
                        </div>
                        {% endfor %}
                        {% endif %}
                    </div>
                    <div class="col-md-12">
                        <p>{{ form|crispy}}</p>
                        <input type="submit" value="Change Password" class="btn btn-success">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}