{% extends 'shared_reset.html' %}
{% load static %}
{% block title %}Reset Password Form{% endblock %}
{% load crispy_forms_tags %}
{% block content %}



<div class="card mb-3">
    {% if validlink %}
    <div class="card-body">    
      <div class="pt-4 pb-2">
        <h5 class="card-title text-center pb-0 fs-4">Change password</h5>
        <p class="text-center small">Enter new credentials</p>
        <p>{% if form.errors %}
            {% for field in form %}
                {% for error in field.errors %}
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endfor %}
            {% endif %}</p>
      </div>
        <form  method="POST" class="row g-3" id="reset_password_form">
            {% csrf_token %}
        <div class="col-12">
            {{form|crispy}}
        </div>
        <div class="col-12">
          <button class="btn btn-primary w-100" type="submit">Change Password</button>
        </div>
      </form>

    </div>
    {% else %}
    <div class="card-body">
        <div class="pt-4 pb-2">
            <p class="text-center small"> The password reset link was invalid, possibly because it has already been used.
                Please request a new password reset.</p>
            </div>
    </div>

    {% endif %}
  </div>
{% endblock %}