{% extends 'shared_reset.html' %}
{% load static %}
{% block title %}Reset Password{% endblock %}
{% load crispy_forms_tags %}
{% block content %}


<div class="card mb-3">

    <div class="card-body">

      <div class="pt-4 pb-2">
        <h5 class="card-title text-center pb-0 fs-4">Reset You Password</h5>
        <p class="text-center small">Enter your e-mail address below and we will send you instructions how to recover a
            password.</p>

            <p>{% if form.errors %}
                {% for field in form %}
                    {% for error in field.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                {% endfor %}
                {% endif %}</p>
      </div>

        <form method="POST" id="reset_password" class="row g-3"> 
            {% csrf_token %}
        <div class="col-12">
         
          

            {{form|crispy}}      
        
        </div>
        <div class="col-12">
            <button class="btn btn-primary w-100" type="submit">Send Email</button>
          </div>
      </form>

    </div>
  </div>
{% endblock %}