{% extends 'shared.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}
{% if type == 'create' %}
Add Site to Block List
{% else %}
Update Site for {{obj.name|title}}
{% endif %}

{% endblock %}
{% block pagetitle %}
Add Site to Block List
{% endblock %}
{% block breadcrum %}
<li class="breadcrumb-item"><a href="{% url 'boards:boards' %}">Boards</a></li>
<li class="breadcrumb-item active">
 {% if type == 'create' %}
Add Board
{% else %}
Update Board titled {{obj.title|title}}
{% endif %}
</li>
{% endblock %}
{% block content %}
<section class="section">
    <div class="row">
      <div class="col-lg-12">

        <div class="card">
          <div class="card-body">
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
                <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close">
                </button>
                {{ message }}
            </div>
            {% endfor %}
            {% endif %}
            <h5 class="card-title">Enter user details in the form below</h5>
 
            <!-- Horizontal Form -->
          {% if type == 'create' %}
          <form action="{% url 'boards:add_board' %}" method="POST">
          {% else %}
          <form action="{% url 'boards:board_update' obj.pk %}" method="POST">
          {% endif %}
            {% csrf_token %}
              <div class="row mb-3"> 
                <div class="col-sm-12">
                    {{ form.title|as_crispy_field }}
                </div>
                <div class="col-sm-12">
                    {{ form.description|as_crispy_field }}
                </div>
              </div>
              <div class="text-center">
                
                <button type="submit" class="btn btn-primary">
                  {% if type == 'create' %}
                  Add Board
                  {% else %}
                  Update Board
                  {% endif %}
                
                </button>
                <a href="{% url 'boards:boards' %}" class="btn btn-secondary">Cancel</a>
              </div>
            </form><!-- End Horizontal Form -->

          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock %}