{% extends 'shared.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}
Update Task {{obj.title|title}}
{% endblock %}
{% block pagetitle %}
Update Task {{obj.title|title}}
{% endblock %}
{% block breadcrum %}
<li class="breadcrumb-item"><a href="#">Project Name Pano</a></li>
<li class="breadcrumb-item active">
    Update Task {{obj.title|title}}
</li>
{% endblock %}
{% block content %}
<section class="section">
    <div class="row">
      <div class="col-lg-12">

        <div class="card">
          <div class="card-body">
       
            <h5 class="card-title">Enter user details in the form below

           
            </h5>
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
                <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close">
                </button>
                {{ message }}
            </div>
            {% endfor %}
            {% endif %}
 
            <!-- Horizontal Form -->
   
          <form action="{% url 'tasks:task_update_for_employee' obj.pk %}" method="POST">
     
            {% csrf_token %}
              <div class="row mb-3"> 
                <div class="col-sm-6">
                    {{ form.percentage_complition|as_crispy_field }}
                </div>
                  <div class="col-sm-6">
                 
                  {{ form.status|as_crispy_field }}
              </div>
    
              </div>
              <div class="text-center">
                
                <button type="submit" class="btn btn-primary">
                  Update Task
                </button>
                <a href="{% url 'tasks:employee_tasks' obj.resource.pk %}" class="btn btn-secondary">Cancel</a>
              </div>
            </form><!-- End Horizontal Form -->

          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock %}